@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FizzBuzz</h1>
    <p>FizzBuzz is a programming challenge made in C# using a simple MVC design pattern.</p>
</div>
